:host {
  display: block;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
}
.container {
  display: grid;
  grid-gap: 0 8px;
  grid-auto-flow: column;
  align-items: center;
}
.field {
  display: flex;
  align-items: center;
  & label {
    font-size: 12px;
    color: #cfcfcf;
    margin: 0 6px;
  }
}
.pages {
  display: grid;
  grid-gap: 8px;
  grid-auto-flow: column;
  &__btn-group {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0 4px;
  }
}
